$divider-color: rgb(199, 199, 199);

.command-center {
  background-color: white;
}

.main-page {
  min-height: 100%;
  height: 100%;
}

.command-inputbar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: $divider-color;
  background-color: white;
  & .command-inputbar-left {
    width: 30%;
    max-width: 340px;
    float: left;
    padding: 10px;
  }
  & .command-inputbar-right {
    padding: 10px;
    overflow: auto;
  }
}

.command-sidebar {
  width: 30%;
  max-width: 340px;
  padding: 10px;
  margin-left: -1px;
  border-style: solid;
  border-width: 0 1px 0 0;
  border-color: $divider-color;
  float: left;
  background-color: white;
}

.command-messagebox {
  overflow: auto;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
}
