<navbar style="position:absolute; top: 0;left:0; right:0;"></navbar>
<div class="main-page fill-height">
  <div class="command-center fill-height">
    <div class="command-sidebar-left navbar-spaced">
      <div class="user-searchbar">
        <form ng-submit="$ctrl.createPatient()">
          <input class="form-control" placeholder="Find patient..." ng-model="$ctrl.patientSearchQuery">
          <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;" />
        </form>
      </div>
      <div class="user-list">
        <div class="user-list-item" ng-class="{'user-list-item-selected': patient._id == $ctrl.selected.patient._id}" ng-repeat="(p, patient) in $ctrl.patients" ng-click="$ctrl.selectPatient(patient._id)">
          <p class="user-name-text">{{patient.identity.firstName}}&nbsp;{{patient.identity.lastName}}</p>
        </div>
      </div>
    </div>
    <div class="command-messagebox navbar-spaced">
        <message-box messages="$ctrl.selected.messages"></message-box>
        <div class="command-inputbar">
          <input class="form-control" placeholder="Type message here...">
        </div>
    </div>
    <div class="command-sidebar-right navbar-spaced">
      <div class="command-sidebar-right-content">
        <p class="user-name-text">{{$ctrl.selected.patient.identity.firstName}}&nbsp;{{$ctrl.selected.patient.identity.lastName}}</p>
        <br><br>
        Upcoming Tasks
        <div class="list-group">
          <div class="list-group-item" ng-repeat="todo in $ctrl.selected.patient.queue">
            {{todo.task.name}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
