<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <ul class="list-group">
        <li ng-repeat="parentStep in steps" ng-include="'stepTree'" ng-init="step=parentStep" class="list-group-item"></li>
      </ul>
    </div>
  </div>
</div>

<script type="text/ng-template" id="stepTree">
  <div class="message-container message-app">
    {{ step.message }} hi
  </div>
  <div class="message-container message-user">
    <select ng-if="step.responses" ng-model="responseIndex" ng-init="responseIndex = 0" ng-change="response = step.responses[responseIndex]; $ctrl.test(response); $ctrl.$scope.$apply()">
      <option ng-repeat="(r, resp) in step.responses" value="{{r}}">
        {{ resp | responseShortname }}
      </option>
    </select>
  </div>
  <span ng-repeat="step in response.steps">Yo</span>
  <div ng-repeat="step in response.steps" ng-include="'stepTree'" >
  </div>
  </li>
</script>
