<div class="row">
  <div class="col-md-8">
    <div style="padding: 20px">
      <h3>{{$ctrl.selected.patient.identity.firstName}}&nbsp;{{$ctrl.selected.patient.identity.lastName}}</h3>
      <br>
      <span class="label label-default">Last</span> {{$ctrl.selected.patient.notifications.lastContact | fromNow}}
    </div>
    <div class="page-divider"></div>
    <div class="instruction-list" style="width: 100%;">
      <instruction-item instruction="instruction" ng-repeat="(i, instruction) in $ctrl.selected.patient.instructions | orderBy:'adherence.score'" ng-click="$ctrl.selected.instruction = instruction"></instruction-item>
    </div>
    <div style="padding: 20px" ng-show="$ctrl.selected.patient.instructions.length == 0">
      <i>{{$ctrl.selected.patient.identity.firstName}} currently has no instructions. To add one, type in the box at the bottom of the page and then press Enter.</i>
    </div>
    <br>
  </div>
  <div class="col-md-4" style="padding: 20px">
    <div class="queue-container">
      <div class="pull-right">
        &nbsp;&nbsp;
        <a href="#" class="btn btn-primary btn-sm pull-right" ng-click="$ctrl.notify($ctrl.selected.patient._id)">Start Now</a>
      </div>
      <div class="queue-container-heading">
        <strong>Upcoming ({{$ctrl.selected.patient.queue.length}})</strong>
        <br>
        <div style="font-size: 0.8em">
          Next scheduled contact: &nbsp;
          <span ng-show="$ctrl.selected.patient.notifications.nextContact > $ctrl.now">
            {{$ctrl.selected.patient.notifications.nextContact | fromNow}}
          </span>
          <span ng-hide="$ctrl.selected.patient.notifications.nextContact > $ctrl.now">
            next reasonable hour
          </span>
        </div>
      </div>
      <div class="queue-container-content">
        <div class="queue-list">
          <div class="queue-list-item" ng-repeat="todo in $ctrl.selected.patient.queue">
            {{todo.task.name}}
          </div>
        </div>
        <div style="padding:10px" ng-show="$ctrl.selected.patient.queue.length == 0">
          <i>No tasks queued.</i>
        </div>
      </div>
    </div>
  </div>
</div>
