<div class="row">
  <div class="col-md-8">
    <div ng-controller="EditBlockController as editBlock" ng-if="$ctrl.selected.patient.identity" ng-init="editBlock.user=$ctrl.selected.patient" class="editable-block" style="padding: 20px 0px;">
      <div ng-show="!editBlock.editing">
        <h3>{{$ctrl.selected.patient.identity.firstName}}&nbsp;{{$ctrl.selected.patient.identity.lastName}}</h3> {{$ctrl.selected.patient.identity.email}}
        <br> {{$ctrl.selected.patient.identity.mobile}}
      </div>
      <form class="form" name="form" ng-submit="vm.submit(form);editBlock.submitted = true" novalidate>
        <div ng-if="editBlock.editing">
            <edit-identity user="editBlock.user" form="form" submitted="editBlock.submitted" errors="$ctrl.errors"></edit-identity>
        </div>
        <br>
        <a href="#" class="hover-revealed" ng-hide="editBlock.editing" ng-click="editBlock.editToggle(true)">Edit Profile</a>
        <div class="pull-right" ng-if="editBlock.editing">
          <a href="#" ng-click="editBlock.editing = false;editBlock.fields = $ctrl.selected.patient.identity">Cancel</a>&nbsp;&nbsp;
          <button class="btn btn-primary btn-sm" ng-click="$ctrl.updateIdentity(form, editBlock.user, editBlock)">Done</button>
        </div>
      </form>
    </div>
    <br>
    <br>
    <br>
    <h4>Communication Consents</h4>
    <div class="page-divider"></div>
    <div class="row">
      <div class="col-md-6">
        <strong>PHI</strong>
        <br> email, secure text, phone call
      </div>
      <div class="col-md-6">
        <strong>Non-PHI</strong>
        <br> email, sms, secure text, phone call
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <strong>Notifications</strong>
    <br>
    <span class="label label-default">Last</span> {{$ctrl.selected.patient.notifications.lastContact || 'never' | date:'MMM dd HH:mm a'}}
    <br>
    <span class="label label-default">Next</span> {{$ctrl.selected.patient.notifications.nextContact || 'never' | date:'MMM dd HH:mm a'}}
    <br><br>
    <a href="#" class="btn btn-primary btn-md" style="width: 100%;" ng-click="$ctrl.notify($ctrl.selected.patient._id)">Start Conversation</a>
    <br>
    <br>
    <strong>Queued Tasks</strong>
    <br>
    <i ng-show="$ctrl.selected.patient.queue.length == 0">Empty</i>
    <div ng-show="$ctrl.selected.patient.queue.length > 0">
      <div class="list-group">
        <div class="list-group-item" ng-repeat="todo in $ctrl.selected.patient.queue">
          {{todo.task.name}}
        </div>
      </div>
    </div>
  </div>
</div>
