<navbar></navbar>
<navbar-manage></navbar-manage>
<div class="background-tint">
  <div class="header-unit header-primary">
    <div class="container header-container">
      <div class="header-bottom-align header-bottom-left">
        <h2>Questions</h2>
      </div>
      <div class="header-bottom-align header-bottom-right">
        <button class="btn btn-default btn-md pull-right" ng-click="$ctrl.addQuestion()"><i class="fa fa-plus"></i> Add Question</button>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <input placeholder="Search" class="form-control">
            <br>
            <table class="table">
              <thead>
                <tr>
                  <th>Prompt</th>
                  <th>Responses</th>
                  <th>Respondents</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="question in $ctrl.questions">
                  <td><a ui-sref="question-view({id:question._id})">{{question.text}}</a></td>
                  <td></td>
                  <td></td>
                  <td>
                    <button class="btn btn-sm btn-default"><i class="fa fa-caret-down"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
