<div class="container">
  <ul class="list-group user-list">
    <li class="list-group-item" ng-repeat="user in admin.users">
      <img src="{{user.picture}}" ng-if="user.picture" height="60px" />
      <div class="user-info">
        <strong><a href="/profile?id={{user._id}}">{{user.identity.firstName}} {{user.identity.lastName}}</strong></a>
        <br>
        <span class="text-muted">{{user.identity.email}}  |  {{user.messenger.id}}</span>
      </div>
      <a ng-click="admin.delete(user)" class="trash"><span class="fa fa-trash fa-2x"></span></a>
    </li>
  </ul>
</div>
