$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import '../bower_components/bootstrap-social/bootstrap-social.scss';
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';
@import url('https://fonts.googleapis.com/css?family=Lato:400,300,700');

/**
 * App-wide Styles
 */

html, body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

img {
  max-width: 100%;
}

.navbar {
  margin-bottom: 0 !important;
}

.navbar-styled {
  background-color: rgb(34, 181, 115);
  border: none;
  height: 70px;
  & .navbar-nav li a {
    color: white;
    padding: 25px 25px 25px 25px;
    &:hover,  &:focus {
      background-color: transparent;
      color: rgb(16, 84, 53)
    }
    &:active {
      background-color: transparent;
    }
  }
  & .navbar-nav .nav-dropdown-btn{
    margin: 20px;
    padding: 5px;
    & .dropdown-menu li a {
      color: rgb(23, 23, 23);
      padding: 8px 14px 8px 14px;
      &:hover {
        color: white;
        background-color: rgb(34, 181, 115);
      }
    }
  }
  & .navbar-text {
    color: white;
    margin: 25px 25px 25px 25px;
  }
  & .navbar-brand {
    color: white;
    padding: 0 0 0 0;
    height: 70px;
  }
}

.navbar-brand-image {
  height: 70px;
  padding: 16px;
}

.btn-messenger {
  border-radius: 5px;
  font-size: 14px;
  padding: 8px 10px 7px;
  background-color: #0084ff;
  border: none;
  margin-top: 16px;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  & img.fb-chat-symbol {
    position: relative;
    top: -1px;
    padding-right: 2px;
  }
}

.fb-messenger-container {
  border-radius: 20px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.7);
  display: inline-block;
  width: 216px;
  height: 102px;
  overflow: hidden;
}


// Component styles are injected through grunt
/* inject:scss */
@import 'routes/account/login/verify/verify.scss';
@import 'routes/admin/admin.scss';
@import 'routes/aspects/aspects.scss';
@import 'routes/conversations/conversations.scss';
@import 'routes/conversations/view/components/step/step.scss';
@import 'routes/conversations/view/view.scss';
@import 'routes/main/main.scss';
@import 'routes/profile/profile.scss';
@import '../components/footer/footer.scss';
@import '../components/modal/modal.scss';
@import '../components/oauth-buttons/oauth-buttons.scss';
/* endinject */
