<br>
<div class="container">
  <h2>Users</h2>
  <div class="panel panel-default" ng-repeat="user in $ctrl.users">
    <div class="panel-body">
      <img class="user-photo pull-left" src="{{user.picture}}" ng-if="user.picture" />
      <div class="user-info">
        <strong><a class="user-name" href="/profile?id={{user._id}}">{{user.firstName}} {{user.lastName}}</strong></a>
        <br>
        <span class="text-muted">{{user.provider}}&nbsp;&nbsp;|&nbsp;&nbsp;{{user.messenger.id || user.email}}</span>
      </div>
    </div>
  </div>
</div>
