$bubble-radius: 20px;

.message-container {
  width: 100%;
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 8px;
  box-sizing: content-box;
  &.message-container-user {
    text-align: left;
  }
  &.message-container-app {
    text-align: right;
  }
}

.message-block {
  padding: 0;
}

.message-bubble {
  padding: 10px 14px 10px 14px;
  display: inline-block;
  max-width: 80%;
  box-sizing: content-box;
  &.message-user{
    text-align: left;
    background-color: rgb(233, 233, 233);
    color: #2d2d2d;
    border-radius: $bubble-radius $bubble-radius $bubble-radius 2px;
  }
  &.message-app{
    text-align: right;
    background-color: rgb(39, 128, 203);
    color: #ffffff;
    border-radius: $bubble-radius $bubble-radius 2px $bubble-radius;
  }
}

.selectable-block {
  padding: 14px;
  &:hover{
    border-left: 4px solid rgb(39, 128, 203);
    padding-left: 10px;
    background-color: rgb(222, 234, 255);
    & .hover-revealed {
      display: inline-block;
    }
  }
  & .hover-revealed {
    display: none;
  }
}


.selected-block {
  border-left: 4px solid rgb(39, 128, 203);
  padding-left: 10px;
}

.step-path-connector {
  height: 100px;
  width: 100%;
  position: relative;
  & .connector-line {
    width: 2px;
    background-color: rgb(79, 79, 79);
    position: absolute;
    height: 100%;
    right: 36px;
    top: 0;
  }
  & .pattern-counter {
    border-radius: 50%;
    background-color: rgb(210, 210, 210);
    position: absolute;
    text-align: center;
    padding-top: 10px;
    height: 40px;
    width: 40px;
    top: 30px;
    right: 18px;
  }
}

.convo-line-indented {
  margin-left: 20px;
}

.expander {
  width: 1.2em;
  font-size: 1em;
  color: rgb(26, 112, 135);
}

.convo-line-container {
  width: 100%;
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

.convo-line-text{
  display: inline-block;
  padding: 8px 12px 8px 12px;
  margin: 1px;
  &:hover {
    border-radius: 8px;
    border: 1px solid rgb(129, 129, 129);
    margin: 0px;
    & .convo-dropdown {
      visibility: visible;
    }
  }
}

.convo-dropdown {
  visibility: hidden;
  cursor: pointer;
  & a {
    color: rgb(128, 128, 128);
    &:hover {
      color: rgb(50, 50, 50);
    }
  }
}

.convo-line-text-edit {
  color: rgb(57, 57, 57);
  text-decoration: none;
  &:hover{
    text-decoration: underline;
    color: rgb(57, 57, 57);
  }
  &:active, &:focus {
    color: rgb(57, 57, 57);
  }

}
