.main-page {
  & .fb-messenger-container {
    border-radius: 20px;
    padding: 20px;
    background: white;
    text-align: center;
    display: inline-block;
    position: relative;
    top: 25px;
    width: 216px
  }

  & .river-avatar-splash {
    width: 300px;
    padding: 30px;
  }
}

.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background-image: url('../assets/images/cover.jpg');
  background-position: center;
  background-size: cover;
}

.navbar-text {
  margin-left: 15px;
}
