<navbar></navbar>
<navbar-manage></navbar-manage>
<div class="background-tint">
  <div class="header-unit header-secondary">
    <div class="container header-container">
      <div class="header-bottom-align">
        Program
        <h2>{{$ctrl.program.name}}</h2>
      </div>
      <div class="header-bottom-align">
        <div class="pull-right">
          <input disabled placeholder="Add Patient...">
          <button class="btn btn-md btn-primary" ng-disabled="$ctrl.isPristine" ng-click="$ctrl.saveProgram()">Save</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container page-program-view">
    <div class="row">
      <div class="col-md-8">
        <div ng-controller="EditBlockController as editBlock" class="editable-block" style="padding: 20px 0px;">
          <div ng-show="!editBlock.editing">
            {{$ctrl.program.description || 'Add description here...'}}
          </div>
          <textarea ng-show="editBlock.editing" class="form-control" ng-model="$ctrl.program.description" placeholder="Add description here..."></textarea>
          <a href="#" class="hover-revealed" ng-hide="editBlock.editing" ng-click="editBlock.editToggle(true)">Edit description</a>
          <button class="btn btn-primary btn-sm" ng-show="editBlock.editing" ng-click="editBlock.editToggle(false)">Done</button>
        </div>
        <!--[insert timeline here from wait and repeat]
      <br><br>-->
        <div class="panel panel-default">
          <div class="panel-body">
            <span class="nav-dropdown-btn pull-right" uib-dropdown is-open="status.isopen">
              <a href="#" class="btn btn-default btn-sm" uib-dropdown-toggle>
                Add&nbsp;<i class="fa fa-chevron-down"></i>
            </a>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
              <li role="menuitem" ng-repeat="type in $ctrl.protocolTypes"><a href="#" ng-click="$ctrl.openProtocolModal(type)">{{type | capitalize}}</a></li>
            </ul>
            </span>
            <br>
            <h4>Protocols</h4>
            <div class="page-divider"></div>
            <br>
            <div ng-repeat="protocolType in $ctrl.protocolTypes">
              <strong>{{protocolType | uppercase}}</strong>
              <br>
              <div class="row" ng-repeat="protocol in $ctrl.program.protocols | filter:{'type':protocolType}">
                <br>
                <div class="col-md-2">
                  <span class="label label-default">{{protocol | triggerLabel}}</span>
                </div>
                <div class="col-md-10">
                  <a ui-sref="task-view({id: protocol.task._id})">{{protocol.task.name}}</a>
                  <p style="font-size: 0.8em">{{protocol.task.description}}</p>
                </div>
              </div>
              <br>
              <br>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <strong>Tasks:</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
