<div class="modal-header">
  <button type="button" ng-click="$dismiss()" class="close">&times;</button>
  <h4 class="modal-title">New {{vm.protocol.type | capitalize}} Protocol</h4>
</div>
<div class="modal-body">
  <input class="form-control">
  <div ng-repeat="patient in vm.patients | orderBy:'lastName'">
    {{patient.identity.lastName}}, {{patient.identity.firstName}}   <button class="btn btn-default" ng-click="vm.select(patient)">Select</button>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default btn-md" ng-click="$dismiss()">Cancel</button>
  <button class="btn btn-primary btn-md" ng-click="vm.done()">Add</button>
</div>
