<navbar-manage></navbar-manage>
<div class="background-tint">
  <div class="header-unit header-secondary">
    <div class="container">
      <div class="header-bottom-align" style="width:70%">
        Question
        <h3>{{$ctrl.question.text}}</h3>
      </div>
      <div class="header-bottom-align" style="width:30%; right:0;left:auto;">
        <button class="btn btn-md btn-primary pull-right" ng-disabled="$ctrl.isPristine" ng-click="$ctrl.saveQuestion()">Save</button>
      </div>
    </div>
  </div>
  <div class="container page-program-view">
    <div class="row">
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-body">
            <br>
            <h4>Choices</h4>
            <br>
            <div ng-hide="$ctrl.question.choices.length > 0"><i>No choices have been added yet, so all responses to this question will be accepted. Add a choice below to validate and categorize your user inputs.</i>
            <br><br>
          </div>
            <table class="table table-striped" ng-show="$ctrl.question.choices.length > 0">
              <thead>
                <tr>
                  <th width="26px;"></th>
                  <th>Saved as</th>
                  <th>If user input is...</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-controller="EditBlockController as choiceRow" ng-repeat="(c, choice) in $ctrl.question.choices">
                  <td>
                    {{c + 1}}
                  </td>
                  <td>
                    <div ng-switch="choice.type">
                      <div ng-switch-when="category" ng-show="!choiceRow.editing">{{choice.category}}</div>
                      <div ng-switch-when="category" ng-show="choiceRow.editing">
                        <input ng-model="choice.category">
                      </div>
                      <div ng-switch-when="number">
                        <i>(Number)</i>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div ng-show="!choiceRow.editing">
                      <div ng-show="choice.type == 'category'">
                        {{choice.patterns[0].term}}
                        <i>
                          <span ng-show="choice.patterns.length == 2">
                            &nbsp;(+1 term)
                          </span>
                          <span ng-show="choice.patterns.length > 2">
                            &nbsp;(+{{choice.patterns.length + 1}} terms)
                          </span>
                        </i>
                      </div>
                      <div ng-show="choice.type == 'number'">
                        <span ng-show="(!choice.min && choice.min !== 0) && (!choice.min && choice.min !== 0)">Any number</span>
                        <span ng-hide="(!choice.min && choice.min !== 0) && (!choice.min && choice.min !== 0)">A number from {{choice.min || 'any'}} to {{choice.max || 'any'}}</span>
                      </div>
                    </div>
                    <div ng-show="choiceRow.editing">
                      <div ng-show="choice.type == 'category'">
                        <div ng-repeat="(p, pattern) in choice.patterns">
                          <input ng-model="pattern.term">
                        </div>
                        <br><a href="#" ng-click="$ctrl.addPattern(c)">Add term</a>
                      </div>
                      <div ng-show="choice.type == 'number'">
                        Min: <input type="number" ng-model="choice.min">
                        <br>
                        Max: <input type="number" ng-model="choice.max">
                      </div>
                    </div>
                  </td>
                  <td>
                    <button class="btn btn-sm btn-primary" ng-click="choiceRow.editToggle(false);$ctrl.cleanChoice(c)" ng-show="choiceRow.editing">Done</button>
                    &nbsp;&nbsp;
                    <span class="nav-dropdown-btn" uib-dropdown is-open="status.isopen">
                      <a href="#" class="btn btn-default btn-sm" uib-dropdown-toggle ng-disabled="disabled">
                        <span class="fa fa-chevron-down"></span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                      <li role="menuitem"><a href="#" ng-click="choiceRow.editToggle(true)">Edit</a></li>
                      <li role="menuitem"><a href="#" ng-click="$ctrl.deleteChoice(c)">Delete</a></li>
                    </ul>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
            <a href="#" ng-hide="$ctrl.editing.addChoice" ng-click="$ctrl.editing.addChoice = true">Add choice</a>
            <div ng-if="$ctrl.editing.addChoice">
              <form ng-submit="$ctrl.addChoice()">
                <select ng-model="$ctrl.newChoice.type">
                  <option value="category">Category</option>
                  <option value="number">Number</option>
                </select>
                <div ng-show="$ctrl.newChoice.type == 'category'">
                  <input class="form-control" ng-model="$ctrl.newChoice.term">
                </div>
                <div ng-show="$ctrl.newChoice.type == 'number'">
                  Min:
                  <input type="number" class="form-control" ng-model="$ctrl.newChoice.min">
                  <br> Max:
                  <input type="number" class="form-control" ng-model="$ctrl.newChoice.max">
                </div>
                <button type="submit" class="btn btn-md btn-default pull-right"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add</button>
                <br>
                <br>
              </form>
            </div>
            <div ng-show="$ctrl.question.choices.length > 0">
              <input type="checkbox" ng-model="$ctrl.question.acceptAllInputs">&nbsp;&nbsp;Accept unexpected responses
            </div>
            <br>
            <br>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <strong>Used By</strong>
            <div class="page-divider"></div>
            (tasks)
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
