<div class="profile-page">
  <div class="cover-image">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="profile-photo-container">
          <div class="profile-photo-border">
            <div class="profile-photo" ng-style="{'background-image': 'url(' + $ctrl.user.picture + ')'}">
            </div>
          </div>
      </div>
      </div>
      <div class="col-md-9">
        <br>
        <h2>{{$ctrl.user.name}}</h2>
        <ul class="nav nav-pills">
          <li class="active"><a href="#">Trends</a></li>
          <li><a href="#">Entries</a></li>
          <li><a href="#">Activity</a></li>
          <li><a href="#">Aspects</a></li>
        </ul>
        <h3>Entries</h3>
        <div class="panel panel-default" ng-repeat="entry in $ctrl.entries">
          <div class="panel-heading">
            {{entry.date | date: "MMMM d, h:mma"}}
          </div>
          <div class="panel-body">
            <div ng-repeat="(aspectKey, aspect) in entry.data">
              <strong>{{$ctrl.aspectMap[aspectKey].name}}</strong>
              <div ng-repeat="(metricKey, metric) in aspect">
                {{$ctrl.aspectMap[aspectKey].metrics[metricKey].name}}: {{metric.value}}
                {{metric.unmatched}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
