.profile-page {
  & .profile-photo-container {
    text-align: center;
  }
 & .profile-photo {
   width: 133px;
   height: 133px;
   background-size: cover;
   background-position: center;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
   border-radius: 50%;
   background-color: white;
 }

 & .profile-photo-border {
   display: inline-block;
   width: 143px;
   height: 143px;
   padding: 5px;
   background-color: rgb(34, 181, 115);
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
   border-radius: 50%;
   position: relative;
   margin-top: -66px;
 }
 & .cover-image {
   height: 140px;
   background-image: url('../assets/images/cover.jpg');
   background-position: center;
   background-size: cover;
 }
}
